extends layout

block content
    h3 Your primary service center is
    h2= name
    #serviceContainer
        #adress
            p= streetName
            p= postNumberCity
        #openingHours
            #monday= 'MO:  ' + monday
            #tuesday= 'TUE: ' + tuesday
